
form.upload{
  cursor: pointer;
  position: relative;
  /* top: 50%; */
  left: 50%;
  /*margin-top: -100px;*/
  margin-left: -185px;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  border: 2px dashed #16a085;
}
form.upload p{
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  color: #000;
  font-family: Arial;
}
form.upload input{
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form.upload button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  /* width: 500px; */
  height: 35px;
  margin-top: 100px;
  /* margin-left: -4px; */
  border-radius: 15px;
  /*border-bottom: 4px solid #117A60;*/
  transition: all .2s ease;
  outline: none;
}
form.upload button:hover{
  background: #149174;
    color: #fff;
}
.upload-form button:active{
  border:0;
}

form.upload-manual button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  /*border-bottom: 4px solid #117A60;*/
  transition: all .2s ease;
  outline: none;
}

form.upload-manual button:hover{
  background: #149174;
    color: #fff;
}
.upload-form button:active{
  border:0;
}

button.grup{
    margin: 50px;
    border: 10px solid #9ee2f7;
    background: white;
    padding: 50px;
    border-radius: 0;
}button.grup:hover{
    background: #9ee2f7;
}

.modal-body {
    min-height: 300px !important;
}
div.dataTables_wrapper .dt-bootstrap4 .no-footer > div.dataTables_wrapper div#dataTables_filter {
  text-align: left;
     float: right !important;
}